<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="macbook-pro" fxLayout="column" fxLayoutAlign="center center">
    <div class="rectangle"></div>
    <button class="button-rectangle">Button</button>
    <div class="teachtreck-removebg-preview"></div>
    <button [routerLink]="['/register']" class="btn btn-primary">
    <span class="sign-up">Sign Up</span>
  </button>
    <button [routerLink]="['/login']" class="btn btn-primary">
    <span class="log-in">Log In?</span>
    </button>
    <span class="learning-with-teach-treck">Learning <br />With Teach Treck</span>
    <div class="new-idea"></div>
    <div class="group">
      <span class="lorem-ipsum-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
      <span class="tempor-incididunt">sed do eiusmod tempor incididunt ut labore et dolore magna</span>
      <span class="minim-veniam-exercitation">aliqua. Ut enim ad minim veniam, quis nostrud exercitation</span>
      <span class="ullamco-laboris-commodo">ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </div>
    <button class="rectangle-button">Learn more</button>
    <span class="learn-more">Learn more</span>
    <div class="ellipse"></div>
    <div class="ellipse-1"></div>
    <div class="ellipse-2"></div>
    <div class="ellipse-3"></div>
  </div>
</div>
