<div class="container mt-5">
  <h2>Answer the Exam Questions</h2>

  <form [formGroup]="examForm" (ngSubmit)="submitResponses()">
    <div *ngFor="let question of questions; let i = index; trackBy: trackByQuestionId" class="form-group">
      <label>{{i + 1}}. {{question.question}}</label>
      <!-- Bind form control to the unique question._id -->
      <textarea class="form-control"
                [formControlName]="questionId"
                required></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Submit Exam</button>
  </form>
</div>







<!-- <div class="container mt-5">
  <h2>Answer Exam Questions</h2>

  <form (ngSubmit)="submitAnswers()">
    <div *ngFor="let question of questions; let i = index" class="form-group">
      <label>{{ question.question }}</label>
      <textarea class="form-control" [(ngModel)]="userResponses[question.id]" [name]="'answer' + i" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit Answers</button>
  </form>
</div> -->
