<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="/./assets/images/logos/Capture_d_écran_2024-06-26_115558-removebg-preview.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body >
    <div class="container mt-5">
        <!-- Center the card -->
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg p-4">
                    <div class="card-body text-center">
                        <!-- Logo -->
                        <a href="./index.html" class="text-center d-block py-3 mb-4">
                            <img src="/./assets/images/logos/Capture_d_écran_2024-06-26_115558-removebg-preview.png" width="180" alt="">
                        </a>

                        <!-- Tabs -->
                        <ul class="nav nav-pills justify-content-center mb-4">
                            <li class="nav-item">
                                <a class="nav-link active" href="#student" [ngClass]="{ 'active': activeTab === 'STUDENT' }" (click)="search('STUDENT', $event)" data-toggle="tab" style="color: ecbc76;">Register as Student</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#teacher" [ngClass]="{ 'active': activeTab === 'TEACHER' }" data-toggle="tab" (click)="result('TEACHER', $event)">Register as Teacher</a>
                           
                            </li>
                        </ul>

                        <!-- Form content -->
                        <div class="tab-content">
                            <!-- Student Registration Form -->
                            <div class="tab-pane active" id="STUDENT" [ngClass]="{ 'active': activeTab === 'STUDENT' }">
                                <form [formGroup]="registerFormStudent" (ngSubmit)="onSubmit()">
                                    <div class="mb-3">
                                        <label for="exampleInputtext1" class="form-label">Name</label>
                                        <input [ngClass]="{ 'is-invalid': submitted && g['username'].errors }" type="text" class="form-control" formControlName="username" />
                                        <div *ngIf="submitted && g['username'].errors" class="invalid-feedback">
                                            <div>First Name is required</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                        <input [ngClass]="{ 'is-invalid': submitted && g['email'].errors }" type="email" formControlName="email" class="form-control" />
                                        <div *ngIf="submitted && g['email'].errors" class="invalid-feedback">
                                            <div>Email is required</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputGender" class="form-label">Gender</label>
                                        <select [ngClass]="{ 'is-invalid': submitted && g['gender'].errors }" type="text" formControlName="gender" class="form-control" >
                                        
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                        <div *ngIf="submitted && g['gender'].errors" class="invalid-feedback">
                                            <div>Gender is required</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputAddress" class="form-label">Address</label>
                                        <input [ngClass]="{ 'is-invalid': submitted && g['address'].errors }" type="text" formControlName="address" class="form-control" />
                                        <div *ngIf="submitted && g['address'].errors" class="invalid-feedback">
                                            <div>Address is required</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputUniversity" class="form-label">University</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['university'].errors }" type="text" formControlName="university" class="form-control" />
                                                <div *ngIf="submitted && g['university'].errors" class="invalid-feedback">
                                                    <div>University is required</div>
                                                </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputMobile" class="form-label">Mobile Number</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['mobile'].errors }" type="number" formControlName="mobile" class="form-control" />
                                                <div *ngIf="submitted && g['mobile'].errors" class="invalid-feedback">
                                                    <div>Mobile Number is required</div>
                                                </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="studyField" class="form-label">Study Field</label>
                                        <input [ngClass]="{ 'is-invalid': submitted && g['studyField'].errors }" type="text" formControlName="studyField" class="form-control" />
                                        <div *ngIf="submitted && g['studyField'].errors" class="invalid-feedback">
                                            <div>Study Field is required</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input [ngClass]="{ 'is-invalid': submitted && g['password'].errors }" type="password" formControlName="password" class="form-control" />
                                        <div *ngIf="submitted && g['password'].errors" class="invalid-feedback">
                                            <div>Password is required</div>
                                        </div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary w-100 py-2 mb-3">Sign Up</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                        <a class="text-primary fw-bold ms-2" routerLink="/login">Sign In</a>
                                    </div>
                                </form>
                            </div>

                            <!-- Teacher Registration Form -->
                           
                               
                                    <div class="tab-pane" id="TEACHER" [ngClass]="{ 'active': activeTab === 'TEACHER' }">
                                        <form [formGroup]="registerFormTeacher" (ngSubmit)="onSubmitTeacher()">
                                            <div class="mb-3">
                                                <label for="exampleInputtext1" class="form-label">Name</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['username'].errors }" type="text" class="form-control" formControlName="username" />
                                                <div *ngIf="submitted && g['username'].errors" class="invalid-feedback">
                                                    <div>First Name is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['email'].errors }" type="email" formControlName="email" class="form-control" />
                                                <div *ngIf="submitted && g['email'].errors" class="invalid-feedback">
                                                    <div>Email is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputGender" class="form-label">Gender</label>
                                                <select [ngClass]="{ 'is-invalid': submitted && g['gender'].errors }" type="text" formControlName="gender" class="form-control" >
                                                
                                                    <option value="Female">Female</option>
                                                    <option value="Male">Male</option>
                                                </select>
                                                <div *ngIf="submitted && g['gender'].errors" class="invalid-feedback">
                                                    <div>Gender is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputAddress" class="form-label">Address</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['address'].errors }" type="text" formControlName="address" class="form-control" />
                                                <div *ngIf="submitted && g['address'].errors" class="invalid-feedback">
                                                    <div>Address is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputUniversity" class="form-label">University</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['university'].errors }" type="text" formControlName="university" class="form-control" />
                                                <div *ngIf="submitted && g['university'].errors" class="invalid-feedback">
                                                    <div>University is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputMobile" class="form-label">Mobile Number</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['mobile'].errors }" type="number" formControlName="mobile" class="form-control" />
                                                <div *ngIf="submitted && g['mobile'].errors" class="invalid-feedback">
                                                    <div>Mobile Number is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputStudyField" class="form-label">Department</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['department'].errors }" type="text" formControlName="department" class="form-control" />
                                                <div *ngIf="submitted && g['department'].errors" class="invalid-feedback">
                                                    <div>Department is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword" class="form-label">Password</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['password'].errors }" type="password" formControlName="password" class="form-control" />
                                                <div *ngIf="submitted && g['password'].errors" class="invalid-feedback">
                                                    <div>Password is required</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword" class="form-label">Domain</label>
                                                <input [ngClass]="{ 'is-invalid': submitted && g['domain'].errors }" type="domain" formControlName="domain" class="form-control" />
                                                <div *ngIf="submitted && g['domain'].errors" class="invalid-feedback">
                                                    <div>Domain is required</div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary w-100 py-2 mb-3">Sign Up</button>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                                <a class="text-primary fw-bold ms-2" routerLink="/login">Sign In</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>
