<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Title</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Course Type</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Upload your file</label>
      <input type="file" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
 
  
    
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
  <p>hhhhhh</p>