<!DOCTYPE html>
<html lang="en">
  
  <body>
    <div class="main-container">
      <div class="sidebar">
        <div class="frame">
          <div class="teachtreck-removebg-preview"></div>
          <div class="frame-1">
            <div class="frame-2"><span class="overview">OVERVIEW</span></div>
            <div class="frame-3">
              <div class="btn">
                <div class="vuesax-linear-home">
                  <div class="vuesax-linear-home-4">
                    <div class="home"></div>
                  </div>
                </div>
                <span class="dashboard-5">Dashboard</span>
              </div>
              <div class="btn-6">
                <div class="vuesax-linear-direct-inbox">
                  <div class="vuesax-linear-direct-inbox-7">
                    <div class="direct-inbox"></div>
                  </div>
                </div>
                <span class="dashboard-8">Inbox</span>
              </div>
              <div class="btn-9">
                <div class="vuesax-linear-folder-open">
                  <div class="vuesax-linear-folder-open-a">
                    <div class="folder-open"></div>
                  </div>
                </div>
                <span class="dashboard-b">Lesson</span>
              </div>
              <div class="btn-c">
                <div class="vuesax-linear-task-square">
                  <div class="vuesax-linear-task-square-d">
                    <div class="task-square"></div>
                  </div>
                </div>
                <span class="dashboard-e">Task</span>
              </div>
              <div class="btn-f">
                <div class="vuesax-linear-people">
                  <div class="vuesax-linear-people-10">
                    <div class="people">
                      <div class="group">
                        <div class="vector"></div>
                        <div class="vector-11"></div>
                      </div>
                      <div class="flex-row">
                        <div class="vector-12"></div>
                        <div class="group-13">
                          <div class="vector-14"></div>
                          <div class="vector-15"></div>
                        </div>
                        <div class="group-16">
                          <div class="vector-17"></div>
                          <div class="vector-18"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="dashboard-19">Group</span>
              </div>
            </div>
          </div>
          <div class="frame-1a">
            <div class="frame-1b"><span class="friends">FRIENDS</span></div>
            <div class="frame-1c">
              <div class="frame-1d">
                <div class="name-destination">
                  <div class="mask-group"></div>
                  <div class="frame-1e">
                    <span class="prashant-kumar-singh">Prashant</span
                    ><span class="software-developer">software Developer</span>
                  </div>
                </div>
              </div>
              <div class="frame-1f">
                <div class="name-destination-20">
                  <div class="mask-group-21"></div>
                  <div class="frame-22">
                    <span class="prashant-kumar-singh-23">Prashant</span
                    ><span class="software-developer-24"
                      >software Developer</span
                    >
                  </div>
                </div>
              </div>
              <div class="frame-25">
                <div class="box-c">
                  <div class="mask-group-26"></div>
                  <div class="frame-27">
                    <span class="prashant-kumar-singh-28">Prashant</span
                    ><span class="software-developer-29"
                      >software Developer</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-2a">
          <div class="frame-2b"><span class="settings">SETTINGS</span></div>
          <div class="btn-2c">
            <div class="vuesax-linear-setting">
              <div class="vuesax-linear-setting-2d">
                <div class="setting"></div>
              </div>
            </div>
            <span class="dashboard-2e">Settings</span>
          </div>
          <div class="btn-2f">
            <div class="vuesax-linear-logout">
              <div class="vuesax-linear-logout-30">
                <div class="logout"></div>
              </div>
            </div>
            <span class="dashboard-31">Logout</span>
          </div>
        </div>
      </div>
      <div class="frame-32">
        <div class="frame-33">
          <div class="input">
            <div class="vuesax-linear-search-normal">
              <div class="vuesax-linear-search-normal-34">
                <div class="search-normal"></div>
              </div>
            </div>
            <span class="type-here">Search your course here....</span>
          </div>
          <div class="btn-35">
            <div class="vuesax-linear-filter">
              <div class="vuesax-linear-filter-36">
                <div class="filter"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="star"></div>
          <div class="star-37"></div>
          <div class="group-38">
            <span class="online-course">Online Course</span
            ><span class="sharpen-skills"
              >Sharpen Your Skills With<br />Professional Online Courses</span
            ><button class="btn-39">
              <span class="join-now">Join Now</span>
              <div class="btn-3a">
                <div class="vuesax-linear-play">
                  <div class="vuesax-linear-play-3b">
                    <div class="play"></div>
                  </div>
                </div>
              </div>
            </button>
          </div>
          <div class="star-3c"></div>
          <div class="star-3d"></div>
          <div class="star-3e"></div>
        </div>
        <div class="frame-3f">
          <div class="card">
            <div class="btn-40">
              <div class="vuesax-linear-notification">
                <div class="vuesax-linear-notification-41">
                  <div class="notification"></div>
                </div>
              </div>
            </div>
            <div class="frame-42">
              <span class="watched">2/8 Watched</span
              ><span class="product-design">Product Design</span>
            </div>
            <div class="vuesax-linear-more"></div>
          </div>
          <div class="card-43">
            <div class="btn-44">
              <div class="vuesax-linear-notification-45">
                <div class="vuesax-linear-notification-46">
                  <div class="notification-47"></div>
                </div>
              </div>
            </div>
            <div class="frame-48">
              <span class="watched-49">2/8 Watched</span
              ><span class="product-design-4a">Product Design</span>
            </div>
            <div class="vuesax-linear-more-4b"></div>
          </div>
          <div class="card-4c">
            <div class="btn-4d">
              <div class="linear-notification">
                <div class="linear-notification-4e">
                  <div class="notification-4f"></div>
                </div>
              </div>
            </div>
            <div class="frame-50">
              <span class="watched-51">2/8 Watched</span
              ><span class="product-design-52">Product Design</span>
            </div>
            <div class="linear-more"></div>
          </div>
        </div>
        <div class="frame-53">
          <div class="frame-54">
            <span class="continue-watching">Continue watching</span>
            <div class="frame-55">
              <div class="btn-56">
                <div class="linear-arrow-left">
                  <div class="linear-arrow-left-57">
                    <div class="arrow-left"></div>
                  </div>
                </div>
              </div>
              <div class="btn-58">
                <div class="linear-arrow-right">
                  <div class="linear-arrow-right-59">
                    <div class="arrow-right"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-5a">
            <div class="card-5b">
              <div class="unsplash-qqlainsti"></div>
              <button class="frame-5c">
                <span class="frontend">Frontend</span></button
              ><span class="beginners-guide"
                >Beginner’s Guide to becoming a <br />professional frontend
                developer</span
              >
              <div class="progress"><div class="group-5d"></div></div>
              <div class="frame-5e">
                <div class="mask-group-5f"></div>
                <div class="frame-60">
                  <span class="prashant-kumar-singh-61"
                    >Prashant Kumar singh</span
                  ><span class="software-developer-62">software Developer</span>
                </div>
              </div>
              <div class="btn-63">
                <div class="linear-heart">
                  <div class="linear-heart-64"><div class="heart"></div></div>
                </div>
              </div>
            </div>
            <div class="card-65">
              <div class="unsplash-qqlainsti-66"></div>
              <button class="frame-67">
                <span class="frontend-68">Frontend</span></button
              ><span class="beginners-guide-69"
                >Beginner’s Guide to becoming a <br />professional frontend
                developer</span
              >
              <div class="progress-6a"><div class="group-6b"></div></div>
              <div class="frame-6c">
                <div class="mask-group-6d"></div>
                <div class="frame-6e">
                  <span class="prashant-kumar-singh-6f"
                    >Prashant Kumar singh</span
                  ><span class="software-developer-70">software Developer</span>
                </div>
              </div>
              <div class="btn-71">
                <div class="linear-heart-72">
                  <div class="linear-heart-73">
                    <div class="heart-74"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-75">
              <div class="unsplash-qqlainsti-76"></div>
              <button class="frame-77">
                <span class="frontend-78">Frontend</span></button
              ><span class="beginners-guide-79"
                >Beginner’s Guide to becoming a <br />professional frontend
                developer</span
              >
              <div class="progress-7a"><div class="group-7b"></div></div>
              <div class="frame-7c">
                <div class="mask-group-7d"></div>
                <div class="frame-7e">
                  <span class="span-prashant-kumar-singh"
                    >Prashant Kumar singh</span
                  ><span class="span-software-developer"
                    >software Developer</span
                  >
                </div>
              </div>
              <div class="btn-7f">
                <div class="heart-80">
                  <div class="heart-81"><div class="heart-82"></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-83">
          <div class="frame-84">
            <span class="span-your-mentor">Your Mentor</span>
            <div class="frame-85">
              <span class="span-see-all">See All</span>
            </div>
          </div>
          <div class="frame-86">
            <div class="frame-87">
              <span class="span-instructor-name-date"
                >instructor name & date</span
              ><span class="span-course-type">COURSE TYPE</span
              ><span class="span-course-title">COURSE TITLE</span
              ><span class="span-actions">ACTIONS</span>
            </div>
            <div class="table">
              <div class="name-destination-88">
                <div class="mask-group-89"></div>
                <div class="frame-8a">
                  <span class="span-prashant-kumar-singh-8b"
                    >Prashant Kumar Singh</span
                  ><span class="span-software-developer-8c">25/2/2023</span>
                </div>
              </div>
              <button class="button">
                <span class="span-frontend">Frontend</span></button
              ><span class="span-understanding-concept-of-react"
                >Understanding Concept of React</span
              ><button class="button-8d">
                <span class="span-frontend-8e">SHOW DETAILS</span>
              </button>
            </div>
            <div class="table-8f">
              <div class="name-destination-90">
                <div class="mask-group-91"></div>
                <div class="frame-92">
                  <span class="span-prashant-kumar-singh-93">ravi Kumar</span
                  ><span class="span-software-developer-94">25/2/2023</span>
                </div>
              </div>
              <button class="button-95">
                <span class="span-frontend-96">Frontend</span></button
              ><span class="span-understanding-concept-of-react-97"
                >Understanding Concept of React</span
              ><button class="button-98">
                <span class="span-frontend-99">SHOW DETAILS</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-9a">
        <div class="frame-9b">
          <span class="span-your-profile">Your Profie</span>
          <div class="vuesax-linear-more-9c"></div>
        </div>
        <div class="profile">
          <div class="profile-9d"></div>
          <div class="frame-9e">
            <span class="span-good-morning-prashant">good Morning Prashant</span
            ><span class="span-continue-your-journey-and-achieve-your-target"
              >continue your journey and achieve Your Target</span
            >
          </div>
          <div class="frame-9f">
            <div class="frame-a0">
              <div class="frame-a1">
                <button class="btn-a2">
                  <div class="vuesax-linear-notification-a3">
                    <div class="vuesax-linear-notification-a4">
                      <div class="notification-a5"></div>
                    </div>
                  </div>
                </button>
                <div class="btn-a6">
                  <div class="vuesax-linear-direct-normal">
                    <div class="vuesax-linear-direct-normal-a7">
                      <div class="direct-normal"></div>
                    </div>
                  </div>
                </div>
                <div class="btn-a8">
                  <div class="linear-direct-normal">
                    <div class="linear-direct-normal-a9">
                      <div class="direct-normal-aa"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="graph">
          <div class="bar"></div>
          <div class="bar-ab"></div>
          <div class="bar-ac"></div>
          <div class="bar-ad"></div>
          <div class="bar-ae"></div>
        </div>
        <div class="frame-af">
          <div class="frame-b0">
            <span class="your-mentor">Your Mentor</span>
            <div class="btn-b1">
              <div class="linear-add">
                <div class="linear-add-b2"><div class="add"></div></div>
              </div>
            </div>
          </div>
          <div class="card-container">
            <div class="name-destination-b3">
              <div class="mask-group-b4"></div>
              <div class="frame-b5">
                <span class="prashant-kumar-singh-b6">Prashant Kumar singh</span
                ><span class="software-developer-b7">software Developer</span>
              </div>
              <button class="frame-b8">
                <span class="follow">Follow</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="name-destination-b9">
              <div class="mask-group-ba"></div>
              <div class="frame-bb">
                <span class="prashant-kumar-singh-bc">Prashant Kumar singh</span
                ><span class="software-developer-bd">software Developer</span>
              </div>
              <button class="frame-be">
                <span class="follow-bf">Follow</span>
              </button>
            </div>
            <div class="line-c0"></div>
            <div class="name-destination-c1">
              <div class="mask-group-c2"></div>
              <div class="frame-c3">
                <span class="prashant-kumar-singh-c4">Prashant Kumar singh</span
                ><span class="software-developer-c5">software Developer</span>
              </div>
              <button class="frame-c6">
                <span class="follow-c7">Follow</span>
              </button>
            </div>
            <div class="line-c8"></div>
            <div class="name-destination-c9">
              <div class="mask-group-ca"></div>
              <div class="frame-cb">
                <span class="prashant-kumar-singh-cc">Prashant Kumar singh</span
                ><span class="software-developer-cd">software Developer</span>
              </div>
              <button class="frame-ce">
                <span class="follow-cf">Follow</span>
              </button>
            </div>
            <div class="line-d0"></div>
            <div class="name-destination-d1">
              <div class="mask-group-d2"></div>
              <div class="frame-d3">
                <span class="prashant-kumar-singh-d4">Prashant Kumar singh</span
                ><span class="software-developer-d5">software Developer</span>
              </div>
              <button class="frame-d6">
                <span class="follow-d7">Follow</span>
              </button>
            </div>
          </div>
          <button class="btn-d8">
            <span class="join-now-d9">See All</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
